
spring:
  datasource: # mysql数据库连接
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://rm-uf6f305on2m87y30mlo.mysql.rds.aliyuncs.com:3306/guli_edu?serverTimezone=GMT%2B8
    username: abliger
    password: w2KAi3pRmTdnx3qp
  cloud:
    nacos:
      server-addr: 47.101.11.235:8848