server:
  port: 9999

spring:
  application:
    name: gateWay

  cloud:
    nacos:
      server-addr: 47.101.11.235:8848
    gateway:
      routes:
        - id: service-edu
          #          lb：表示在集群环境下通过负载均衡的方式调用
          uri: lb://service-edu
          predicates:
            - Path=/edu/**
#      globalcors:
#        cors-configurations:
#          '[/**]':
#            # 允许携带认证信息
#            # 允许跨域的源(网站域名/ip)，设置*为全部
#            # 允许跨域请求里的head字段，设置*为全部
#            # 允许跨域的method， 默认为GET和OPTIONS，设置*为全部
#            # 跨域允许的有效期
#            allow-credentials: true
#            allowed-origins:
#              - "http://localhost:13009"
#              - "http://localhost:13010"
#            allowed-headers: "*"
#            allowed-methods:
#              - OPTIONS
#              - GET
#              - POST
#            max-age: 3600

  #gateway 项目自动路径映射，一般不使用，因为无法细粒度的配置具体的过滤规则
  profiles:
    active: dev
#    gateway:
#      discovery:
#        locator:
#          enabled: true